.wrapper-dropdown-position {
  position: fixed;
  z-index: 1031;
  display: inline-block;
  overflow: hidden;
  padding: 0;
}
.wrapper-dropdown-position .dropdown-menu {
  display: block;
  position: relative;
  border: 0;
  border-radius: 0;
  margin: 0;
  float: none;
  left: 0;
  top: 0;
  box-shadow: none;
  overflow: auto;
}
@media (max-width: 767px) {
  .wrapper-dropdown-position-mask {
    background: rgba(32, 32, 32, 0.7);
    z-index: 1031 !important;
  }
  .wrapper-dropdown-position {
    top: auto !important;
    left: 15px !important;
    right: 15px !important;
    bottom: 15px !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
    max-width: none !important;
    max-height: 90% !important;
    z-index: 1031 !important;
    -webkit-box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.275) !important;
    box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.275) !important;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
  .wrapper-dropdown-position .dropdown-menu > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
